<div class="page-title">
  <div>
    <h1>Squats</h1>
    <ul class="breadcrumb side">
      <li><i class="fa fa-home fa-lg"></i></li>
      <li class="active"><a href="#">Squats {{squatsCount}}</a></li>
    </ul>
  </div>
  <div>
    <a class="btn btn-primary btn-flat" (click)="openModal(newTrainingModal)"><i class="fa fa-lg fa-plus"></i> Add a training</a>
    <!-- Modal -->
    <ng-template #newTrainingModal>
      <div class="modal-header">
        <h4 class="modal-title">Add a new squats training</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #squatForm="ngForm">
        <div class="modal-body">
          <h5>Date</h5>
          <my-date-picker name="mydate" [options]="myDatePickerOptions"
                          [(ngModel)]="selectedDate" required></my-date-picker>
          <h5>Repeats</h5>
          <input
            class="form-control"
            id="distance"
            type="number"
            required
            [(ngModel)]="repeats"
            name="distance"
            placeholder="Repeats (times)">
          <h5>Comments</h5>
          <textarea
            class="form-control"
            id="comments"
            rows="3"
            [(ngModel)]="comments"
            name="comments"
            placeholder="Share your emotions about training"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="addSquat(); squatForm.reset()" >Save</button>
        </div>
      </form>
    </ng-template>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Distance</th>
            <th>Comment</th>
            <th style="width: 12%;">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let squat of (squats | async); let i = index">
            <td>{{i+1}}</td>
            <td>{{squat.date * 1000 | date }}</td>
            <td>{{squat.repeats}}</td>
            <td>{{squat.comments}}</td>
            <td>
              <button class="btn btn-danger" (click)="openModal(softDeleteModal)">
                Delete
              </button>
              <!-- SoftDelete modal -->
              <ng-template #softDeleteModal>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Are you sure you want to delete current entry?</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <button class="btn btn-default" (click)="modalRef.hide()">
                    Cancel
                  </button>
                  <button class="btn btn-danger" style="float: right;" (click)="deleteSquat(squat.$key);modalRef.hide()">
                    Delete
                  </button>
                </div>
              </ng-template>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
