<div class="page-title">
  <div>
    <h1><i class="fa fa-pie-chart"></i> Statistics</h1>
    <p>Various type of statistics</p>
  </div>
  <div>
    <ul class="breadcrumb">
      <li><i class="fa fa-home fa-lg"></i></li>
      <li><a href="#">charts</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <tabset>
        <tab heading="Exercises">
          <div class="tab-pane fade active in" id="exercise">
            <h3>Exercises statistics</h3>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="select">Select exercise</label>
                <div>
                  <select class="form-control" id="select">
                    <option>Sit ups</option>
                    <option>Squats</option>
                    <option>Swim</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row mt-20">
              <div class="col-lg-12 col-md-12">
                <div class="card">
                  <h3 class="card-title">Line Chart</h3>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="card">
                  <h3 class="card-title">Simple Table</h3>
                  <table class="table">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Username</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>1</td>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Measurements">
          <h3>Measurement</h3>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="measure">Measure</label>
              <div>
                <select class="form-control" id="measure">
                  <option>Biceps</option>
                  <option>Triceps</option>
                  <option>Quadriceps</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="period">Period</label>
              <div>
                <select class="form-control" id="period">
                  <option>Last month</option>
                  <option>3 months</option>
                  <option>1 year</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row mt-20">
            <div class="col-lg-12 col-md-12">
              <div class="card">
                <h3 class="card-title">Line Chart</h3>
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="card">
                <h3 class="card-title">Simple Table</h3>
                <table class="table">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </tab>
      </tabset>

    </div>
  </div>
</div>
