<div class="page-title">
  <div>
    <h1><i class="fa fa-pie-chart"></i> Statistics</h1>
    <p>Various type of statistics</p>
  </div>
  <div>
    <ul class="breadcrumb">
      <li><i class="fa fa-home fa-lg"></i></li>
      <li><a href="#">charts</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <tabset>
        <tab heading="Exercises">
          <div class="tab-pane fade active in" id="exercise">
            <h3>Exercises statistics</h3>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="selectExercise">Select exercise</label>
                <div>
                  <select
                    class="form-control"
                    id="selectExercise"
                    [(ngModel)]="selectedExerciseList"
                    (ngModelChange)="calculateList(selectedExerciseList)"
                  >
                    <option
                      *ngFor="let item of listExercises"
                      [value]="item.value" >
                      {{item.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="mt-20">
              <div class="col-md-6">
                <div class="">
                  <div style="display: block">
                    <canvas baseChart
                            [(datasets)]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="card">
                  <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Date</th>
                      <th *ngIf="this.selectedExerciseList === 'swims'; else showreps">Distance (m)</th>
                      <ng-template #showreps>
                        <th>Repeats</th>
                      </ng-template>
                      <th>Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of (tableData | async); let i = index">
                      <td>{{i+1}}</td>
                      <td>{{item.date * 1000 | date:'yyMM' }}</td>
                      <td>{{item.repeats || item.distance }}</td>
                      <td>{{item.comments}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Measurements">
          <h3>Measurement</h3>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="measure">Measure</label>
              <div>
                <select class="form-control" id="measure">
                  <option>Biceps</option>
                  <option>Triceps</option>
                  <option>Quadriceps</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="period">Period</label>
              <div>
                <select class="form-control" id="period">
                  <option>Last month</option>
                  <option>3 months</option>
                  <option>1 year</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row mt-20">
            <div class="col-lg-12 col-md-12">
              <div class="card">
                <h3 class="card-title">Line Chart</h3>
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="card">
                <h3 class="card-title">Simple Table</h3>
                <table class="table">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </tab>
      </tabset>

    </div>
  </div>
</div>
