<div class="page-title">
  <div>
    <h1>Swimming</h1>
    <ul class="breadcrumb side">
      <li><i class="fa fa-home fa-lg"></i></li>
      <li class="active"><a>Swimming</a></li>
    </ul>
  </div>
  <div>
    <a class="btn btn-primary btn-flat" (click)="openModal(template)"><i class="fa fa-lg fa-plus"></i> Add a training</a>
    <!-- Modal -->
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title">Add a new swimming training</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form #swimForm="ngForm">
          <div class="modal-body">
            <h5>Date</h5>
            <my-date-picker name="mydate" [options]="myDatePickerOptions"
                            [(ngModel)]="selectedDate" required></my-date-picker>
            <h5>Distance</h5>
            <input
              class="form-control"
              id="distance"
              type="number"
              required
              [(ngModel)]="distance"
              name="distance"
              placeholder="Swim distance (m)">
            <h5>Comments</h5>
            <textarea
              class="form-control"
              id="comments"
              rows="3"
              [(ngModel)]="comments"
              name="comments"
              placeholder="Share your emotions about training"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="addSwim(); swimForm.reset()" >Save</button>
          </div>
        </form>
    </ng-template>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Distance</th>
            <th>Comment</th>
            <th style="width: 12%;">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let swim of (swims | async); let i = index">
            <td>{{i+1}}</td>
            <td>{{swim.date * 1000 | date }}</td>
            <td>{{swim.distance}}</td>
            <td>{{swim.comments}}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteSwim(swim.$key)">
                Delete
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
