<div class="page-title">
  <div>
    <h1>Exercises lib</h1>
    <ul class="breadcrumb side">
      <li><a routerLink="/dashboard"></a><i class="fa fa-home fa-lg"></i></li>
      <li class="active"><a routerLink="/exercises-library">Exercises library</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-3" *ngFor="let item of categories">
    <div class="card">
      <img src="/assets/cat_arms.jpg" width="50%">
      <h2 class="card-title">{{item.categoryName}}</h2>
      <div class="card-body">
        <p *ngFor="let itemlist of item.categoryItems"
        ><a routerLink="{{itemlist.subcategory}}">{{itemlist.name}}</a></p>
      </div>
    </div>
  </div>
</div>
