<div class="page-title">
  <div>
    <h1><i class="fa fa-pie-chart"></i> Exercises library</h1>
    <p>Various type of exercises</p>
  </div>
  <div>
    <ul class="breadcrumb">
      <li><i class="fa fa-home fa-lg"></i></li>
      <li><a>esercisess</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-3 card">
    <h2 class="card-title">Arms</h2>
    <div class="card-body">
      <p><a routerLink="biceps">Biceps</a></p>
      <p><a routerLink="triceps">Triceps</a></p>
      <p><a>Forearm</a></p>
    </div>
  </div>
</div>
