<div class="page-title">
  <div>
    <h1><i class="fa fa-pie-chart"></i> Exercises biceps library</h1>
    <p>Various type of exercises</p>
  </div>
  <div>
    <ul class="breadcrumb">
      <li><i class="fa fa-home fa-lg"></i></li>
      <li><a>exercises</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">
        <p>Сгибание рук со штангой стоя</p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <img src="/assets/grud5.jpg" alt="Exercise image" width="90%">
          </div>
          <div class="col-md-6">
            <p>Общая информация</p>
            <table class="table table-bordered">
              <tbody>
              <tr>
                <td>Основные мышцы</td>
                <td>бицепс</td>
              </tr>
              <tr>
                <td>Дополнительные</td>
                <td>плечевая</td>
              </tr>
              <tr>
                <td>Сложность выполнения</td>
                <td>лёгкая</td>
              </tr>
              </tbody>
            </table>
            <p>Вес и количество повторений для новичков</p>
            <table class="table table-bordered">
              <tbody>
              <tr>
                <td>Для мужчин</td>
                <td>10 - 15 повторений 15 - 20 кг</td>
                <td>2 - 3 подхода</td>
              </tr>
              <tr>
                <td>Для женщин</td>
                <td>10 - 15 повторений 10 - 12 кг</td>
                <td>2 - 3 подхода</td>
              </tr>
              </tbody>
            </table>
            <p>Нагрузка по группам мышц</p>
            <table class="table table-bordered">
              <tbody>
              <tr>
                <td>Бицепс</td>
                <td>10 (высокая)</td>
              </tr>
              <tr>
                <td>Предплечья</td>
                <td>2 (слабая)</td>
              </tr>
              <tr>
                <td>Общая нагрузка / тип упражнения</td>
                <td>12 (слабая) / изолированное</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <p class="exercise-description-header">Описание упражнения</p>
          <p class="exercise-description-text">Это классическое упражнение на бицепс. Запомните: 1. Не поднимайте штангу до упора вверх.
            Немного не доводите ее до груди. 2. Локти, при подъеме, лучше немного вытаскивать вперед.
            Это заставит бицепс сильнее сократиться. 3. Опускайте штангу как минимум не быстрее, чем вы ее поднимали.
            Изогнутый гриф даёт больше нагрузки на внутреннюю головку бицепса.</p>
        </div>
        <div class="row">
          <p class="exercise-description-header">Основные фишки</p>
          <ol>
            <li>Ширина хвата имеет значение. Хват на ширине плеч или чуть шире – больше будет работать внутренняя головка бицепса. Если хват уже плеч, то больше нагрузки будет на внешнюю головку.</li>
            <li>Разгибать руки необходимо до конца. А вот сгибать – не до самого конца. Кисть должна оставаться немного впереди локтя. При таком варианте бицепс будет максимально напряжён в верхней точке.</li>
            <li>Локти желательно не держать на месте, а немного выводить вперёд при подъёме штанги. Но лишь немного. Для того чтобы сильнее сократить бицепсы.</li>
            <li>Старайтесь не раскачиваться и не помогать себе спиной или ногами. Это можно сделать только последние 1 – 2 повторения. Спина должна быть прямая, а плечи отведены назад.</li>
            <li>Ставьте такой вес, чтобы могли сделать хотя бы 8 повторений.</li>
            <li>Вопреки всеобщему мнению, я не считаю сгибание рук со штангой базовым упражнением. Базовое упражнение для бицепсов это подтягивания. Поэтому, если вы хотите большие и сильные бицепсы, то обязательно включайте в свою тренировку подтягивания.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>


</div>
