<div class="page-title">
  <div>
    <h1>Exercises lib</h1>
    <ul class="breadcrumb side">
      <li><a routerLink="/dashboard"></a><i class="fa fa-home fa-lg"></i></li>
      <li><a routerLink="/exercises-library">Exercises library</a></li>
      <li><a routerLink="/exercises-library/biceps">Biceps</a></li>
      <li class="active"><a routerLink="/exercises-library/biceps/{{singleExercise.id}}">{{singleExercise.name}}</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">
        <p>{{singleExercise.name}}</p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <img src="/assets/grud5.jpg" alt="Exercise image" width="90%">
          </div>
          <div class="col-md-6">
            <p>Общая информация</p>
            <table class="table table-bordered">
              <tbody>
              <tr>
                <td>Основные мышцы</td>
                <td>{{singleExercise.muscleMainType}}</td>
              </tr>
              <tr>
                <td>Дополнительные</td>
                <td>{{singleExercise.muscleAdditionalType}}</td>
              </tr>
              <tr>
                <td>Сложность выполнения</td>
                <td>{{singleExercise.difficulty}}</td>
              </tr>
              </tbody>
            </table>
            <p>Вес и количество повторений для новичков</p>
            <table class="table table-bordered">
              <tbody>
              <tr>
                <td>Для мужчин</td>
                <td>{{singleExercise.noviceTraining.men.repeats}}</td>
                <td>{{singleExercise.noviceTraining.men.times}}</td>
              </tr>
              <tr>
                <td>Для женщин</td>
                <td>{{singleExercise.noviceTraining.women.repeats}}</td>
                <td>{{singleExercise.noviceTraining.women.times}}</td>
              </tr>
              </tbody>
            </table>
            <p>Нагрузка по группам мышц</p>
            <table class="table table-bordered">
              <tbody>
              <tr>
                <td>{{singleExercise.muscleStress.main.muscle}}</td>
                <td>{{singleExercise.muscleStress.main.stress}}</td>
              </tr>
              <tr>
                <td>{{singleExercise.muscleStress.additional.muscle}}</td>
                <td>{{singleExercise.muscleStress.additional.stress}}</td>
              </tr>
              <tr>
                <td>Общая нагрузка / тип упражнения</td>
                <td>{{singleExercise.muscleStress.general}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <p class="exercise-description-header">Описание упражнения</p>
          <p class="exercise-description-text">{{singleExercise.description}}</p>
        </div>
        <div class="row">
          <p class="exercise-description-header">Основные фишки</p>
          <ol>
            <li *ngFor="let item of singleExercise.mainFeatures">{{item}}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
