<div class="row">
  <div class="col-md-3">
    <div class="widget-small primary"><i class="icon fa fa-users fa-3x"></i>
      <div class="info">
        <h4>Workouts</h4>
        <p><b>5</b></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="widget-small info"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
      <div class="info">
        <h4>Sit ups</h4>
        <p><b>25</b></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="widget-small warning"><i class="icon fa fa-files-o fa-3x"></i>
      <div class="info">
        <h4>Squats</h4>
        <p><b>10</b></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="widget-small danger"><i class="icon fa fa-star fa-3x"></i>
      <div class="info">
        <h4>Swum</h4>
        <p><b>500 m</b></p>
      </div>
    </div>
  </div>
</div>
