<div class="row">
  <div class="col-md-3">
    <div class="widget-small primary"><i class="icon fa fa-users fa-3x"></i>
      <div class="info">
        <h4>Workouts</h4>
        <p><b>5</b></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="widget-small info"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
      <div class="info">
        <h4>Sit ups</h4>
        <p><b>25</b></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="widget-small warning"><i class="icon fa fa-files-o fa-3x"></i>
      <div class="info">
        <h4>Squats</h4>
        <p><b>10</b></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="widget-small danger"><i class="icon fa fa-star fa-3x"></i>
      <div class="info">
        <h4>Swum</h4>
        <p><b>500 m</b></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <h3 class="card-title">Statistics by month</h3>
      <table class="table">
        <thead>
        <tr>
          <th>Month</th>
          <th>Squats</th>
          <th>Sit-ups</th>
          <th>Push-ups</th>
          <th>Swum</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>May 2017</td>
          <td>10</td>
          <td>15</td>
          <td>20</td>
          <td>3000 m</td>
        </tr>
        <tr>
          <td>June 2017</td>
          <td>15</td>
          <td>18</td>
          <td>25</td>
          <td>3000 m</td>
        </tr>
        <tr>
          <td>July 2017</td>
          <td>20</td>
          <td>25</td>
          <td>30</td>
          <td>3000 m</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <h3 class="card-title">Statistics by year</h3>
      <table class="table">
        <thead>
        <tr>
          <th>Year</th>
          <th>Squats</th>
          <th>Sit-ups</th>
          <th>Push-ups</th>
          <th>Swum</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>2016</td>
          <td>10</td>
          <td>15</td>
          <td>20</td>
          <td>2000 m</td>
        </tr>
        <tr>
          <td>2017</td>
          <td>15</td>
          <td>18</td>
          <td>25</td>
          <td>2000 m</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
